*{ 
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.Bg_img_container{
    position: fixed;
    z-index:-10;
    width:100%;
    height:100%;
    object-fit:scale-down;


}
.Background_img{
    height: 100%;

}
#navbar {
    width: 100vw;
    display:flex;
    justify-content: space-between;
    padding:0.5rem 0rem;
    align-items: center;
    background-color: rgb(57, 69, 90);
    padding:0.6rem 0.4rem;
    border-bottom:2px solid cyan;
}
.nav_log_titl{
    display: flex;
    align-items:center;
}
#logo {
    width: 2.5rem;
    background-color:#66ffff;
    border:1px solid rgb(38, 4, 77);
    border-radius: 100%;
    cursor: pointer;
}

.Tilt {
    font-size: 1.4rem;
    font-style: italic;
    font-family:chiller;
    word-spacing: 0.2rem;
    color:cyan;
    margin-left: 0.5rem;
}
#navDrop{
    font-size: 1rem;
    padding:0.2rem 0.4rem;
    background-color: rgb(57, 69, 90);
    color:#66ffff;
    border:1px solid white;
    border-radius: 5px;
}
#navDrop:active{
    box-shadow: 0 0 5px #66ffff;
    border-color:#33ffff;
}
#navbar ul {
    position: absolute;
    display:flex;
    justify-content:center ;
    left: 0;
    background-color: rgb(57, 69, 90);
    padding: 0.5rem 0;
    width: 100%;
    border-bottom:2px solid cyan;
    gap:7px;
    flex-direction: column;
    align-items: center;

}
.drop_close{
    visibility:hidden;
}
.drop_open{
    visibility:visible;
    top:4.09rem;   
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    font-size: 1.1rem;
    color:white;
    padding:1px 10px;
    border-radius: 3px;
    text-decoration: none;
    border:2px;
}
#navbar ul li a:hover{
    box-shadow: 0 0 5px #66ffff;
    color:#66ffff;

}
#navbar ul li a:active{
    color:#66ffff;
    border: 1px solid #66ffff;
}
#Main{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.aboutSection{
    width:100%;
    padding:3rem 0;
}
#about {
    margin: auto;
    width:90%;
    border-radius: 20px;
    background-color: rgba(108, 217, 236, 0.6);
    text-align: center;
    padding:1rem 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem

}
#about h1 {
    font-size: 1.5rem;
    font-family:georgia;
    color:rgb(56, 47, 114);

}

#about p {
    font-size: 1rem;
    font-weight:bold;
    word-spacing: 0.2rem;
    color: rgb(133, 58, 5);


}

#aboutBack{
    width:100%;
    height:500px;
    background-color:sandybrown;
}
#services {
    background-color:white;
    width:100vw;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:2rem 1rem;
    flex-wrap: wrap;
    border-top: 4px solid rgb(139, 18, 150);
    border-bottom: 4px solid rgb(146, 16, 158) ;
    border-radius:10px;
}
#services #SerTxt{
    text-align: center;
}
#services #SerTxt h1{
    font-family:serif;
    font-size: 2rem;
    color:red;
}
#services #SerTxt p {
    margin-top: 1rem;
    font-size: 1rem;
    color:saddlebrown;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
}
#services img{
    width:100%;
    margin-top: 1rem;
    border-radius: 10px;
}

#menu {
    background-color: honeydew;
    margin:2rem 0;
    width:100vw;
    border-radius: 10px;
    border-top: 4px solid rgb(48, 206, 27);
    border-bottom: 4px solid rgb(48, 206, 27);
    border-radius:10px;
}
.menuCon{
    text-align: center;
    padding:1rem 0.5rem;
}
#menu h1{
    font-size:2rem;
    font-family:serif;
    color:red;
    padding:30px;
}
#menu p{
    margin:auto;
    font-size:1rem;
    font-family:Papyrus;
    text-align: center;
    word-spacing: 12px;
    color: rgb(1, 92, 1);
}

.menu_But_container{
    padding:2rem 1rem;
    display: flex;
    flex-wrap:wrap;
    gap:2.5rem;
}
.menu_But{
    border-style: none;
    font-size:1.4rem;
    padding:1.5rem 0;
    border-radius: 30px 0px;
    border-top:3px solid rgb(1, 63, 1);
    border-bottom:3px solid rgb(0, 75, 0);
    background-color: rgba(38, 255, 85, 0.911);
    color:rgb(82, 71, 71);
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition-duration:0.4s;
    width: 9rem;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    gap:0.7rem;
}
.menu_But span{
    font-size: 3rem;
    color:rgb(240, 41, 41);
}
.menu_But:hover{
    transform:scale(110%);
    background-color:rgba(108, 170, 228, 0.658);
    color:white;
}
.menu_But:active{
    color:#33ffff;
    border-color:blue;
    background-color:olive;
    box-shadow: 0 0 10px 5px #338383;
}
.menu_But:active span{
    color:cyan;
}

.menu_ent_container{
    width:50vw;
}
.menu_ent_container img{
    width:100%;
}
.Login_Section{
    width:100vw;
    margin:2rem 0;
    background-color: white;
    padding:2rem 2rem;
    border-radius: 10px;
    border-top:3px solid red;
    border-bottom:3px solid red;
}
.loction_gif_container{
    width: 100%;
}
.loction_gif_container img{
    width:100%;
}

.Log_Title_container p{
    margin: 0.8rem 0;
    color :gray;
}

.log_input_container{
    padding: 1.5rem 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;

}
.log_input_container input{
    font-size: 1.2rem;
    padding: 1rem 1rem;
    outline: none;
    border-radius: 5px;

}
.log_input_container button{
    color:white;
    background-color:rgb(255, 31, 31);
    padding:0.5rem 1rem;
    border-radius: 5px;
    font-size:1.2rem;
    font-family: sans-serif;
    border:1px solid gray;
}
.log_input_container button:hover{
    transform: scale(110%);
    border-color:#33ffff;
}
.log_input_container button:active{
    transform: scale(110%);
    border-color:#33ffff;
    background-color: black;
    color: #66ffff;
}

.strik{
    width:100vw;
    border-top:5px solid saddlebrown ;
    border-bottom:5px solid saddlebrown ;
    background-color:chocolate;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    padding:1.5rem 0;
}

.Strik_content{
    display: flex;
    padding: 1.5rem 1.5rem;
    align-items: center;
    border-collapse: collapse;
    border-bottom:5px solid saddlebrown ;
    justify-content: space-between;
}
.Strik_content:last-child{
    border:none;
    
}

.strik h5{
    line-height: 1.3rem;
}
.strik .title{
    font-size: 1.5rem;
    color:white;
    margin:5rem 0;
}
.dilevery_gif_container{
    width:13rem;
}

#dilevery_gif_id{
    width: 100%;
}

.delivery_gif{
    width:100%;
}

.Contact_Section{
    margin-top: 2rem;
    width:100vw;
    background-color: white;
    border-top: 4px solid rgb(86, 149, 245);
    border-bottom: 4px solid rgb(86, 149, 245);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem 1rem;
    
}
.Contact_txt_img{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.Cont_Title_container{
    text-align: center;
    font-family: sans-serif;
   

}
.Cont_Title_container h1{
    color:rgb(218, 94, 45);
    padding: 0.5rem 0;
}
.Cont_Title_container p{
    color:gray;
    font-family: georgia;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5rem;
}
.contact_img_container {
    width:100%
}

.contact_img_container img{
    width:100%;

}
.Contact_Section form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap:1rem;
}
.Contact_Section form p{
    color:blue;
}
.Contact_Section form p i{
    color:red;
}
.Contact_Section form input,textarea{
    font-size: 1.2rem;
    padding: 4px 4px;
    outline: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gray;
}
.Contact_Section form input:hover,textarea:hover{
    border: 2px solid #3352ff;
    box-shadow: 0 0 5px #66ffff;

}
.Contact_Section form button{
    font-size:1.2rem;
    border:2px solid gray;
    border-radius: 5px;
    padding:0.5rem 1rem;
    background-color: rgb(255, 43, 43);
    color: white;
}
.Contact_Section form button:hover{
    transform: scale(110%);
    

}
.Contact_Section form button:active{
    transform: scale(110%);
    border-color:#33ffff;
    background-color: black;
    color: #66ffff;

}

#footer{
    background-color:white;
    width: 100vw;
    border-top:4px solid darkgray;
    margin-top: 3rem;

}

#footer_ele_con {
    width: 100%;
    margin-top:2rem;
    border-radius: 10px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top:2rem;
  }
  #footer_ele_con h1{
      font-size: 1.5rem;
      padding-bottom: 5px;
  }

  #footC1{
    line-height: 30px;
  }
 .foot_boxs{
    padding:1rem 60px;
    font-family: sans-serif;
    line-height: 30px;
  }

  #footC1 address {
    color: dimgray;
  }
  #footC2 ul {
    list-style: none;
    color: dimgray;
    line-height: 40px;
  }
  #footC2 a:hover {
      color: rgb(255, 0, 0);
  }

  #footC3 ul {
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    gap:1rem;
    justify-content: center;
  }

  #footC3 ul a {
    color: rgb(82, 82, 202);
    margin-right: 5px;
    font-size: 2rem;
  }

  #footC3 a:hover {
    color: blue;
    cursor: pointer;
    font-size: 2.2rem;
  }
  #footC3 a:active {
    color: red;
    cursor: pointer;
    font-size: 2.2rem;

  }
  .copy_container{
      padding:9px 10px;
      background-color: rgb(236, 236, 236);
      color:#222;
  }

@media (min-width:768px){
    #navbar{
        padding:0.5rem 1rem;
        border-width: 0.2rem;
        flex-wrap: nowrap;
        padding-right: 2rem;
        width:100vw;
    }
    #logo {
        width: 4rem;
    }
    .Tilt {
        font-size: 2rem;
        text-align: left;
    }
    #navDrop{
        display:none;
    }
    #navbar ul {
        position:static;
        flex-direction: row;
        visibility: visible;
        border-bottom: none;
        width: auto;
        gap:1rem;
    }
    .drop_open{
        top:0rem;   
    }
    
    #navbar ul li a{
        font-size: 1.2rem;
        padding:0.5rem 0.5rem
    }

    #about {
        width:65%;
    }
    #about h1 {
        font-size:3rem;

    }
    #about p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        word-spacing: 5px;
        padding:0 2.5rem;
    }
    #services {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding:2rem 5rem;
        gap:3rem;
        border-radius: 2rem;

    }

    #services #SerTxt{
        width: 50vw;
        justify-self: stretch;
    }
    #services #SerTxt h1{
        font-size: 3rem;
    }

    #services #SerTxt p {
        font-size: 1rem;
        line-height: 2.5rem;
        padding:2rem 1rem;
    }
    .Service_Img_conta{
        width:50vw;
    }

    #services img{
        width:100%;
    }

    .strik h5{
        line-height: 2rem;
        font-size: 1.2rem;
        text-align: center;
    }
    .strik .title{
        font-size: 2rem;
        color:white;
        line-height: 6rem;
    }
    #menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:2rem 0;
        border-radius: 2rem;

    }
    .menu_But_container{
        justify-content: space-evenly;
    }
    .menu_But{
        width: 12rem;
    }

    .Login_Section{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 3rem 5rem;
        border-width:5px;
        border-radius: 2rem;
    }
    .loction_gif_container{
        width: 35rem;
    }
    .Log_Title_container h1{
        font-size: 2.7rem;
    }
    .Log_Title_container p{
        font-size: 1.2rem;
    }
    .Contact_Section{
        flex-direction: row-reverse;
        padding: 3rem 1rem;
        border-width:5px;
        border-radius: 2rem;
        justify-content: center;
    }
    
    .Cont_Title_container{
        padding:0 5rem;
    }
    .Cont_Title_container h1{
        font-size: 3rem;
    }
    .contact_img_container{
        width:20rem;

    }
    .contact_img_container img{
        width:100%;
    }
    
    .Contact_Section form{
        width:50%;

    }
    .Contact_Section form{
        gap: 2rem;
    }
    .Contact_Section form p{
        font-size: 1.5rem;
    }
    .Contact_Section form input,textarea{
        padding:0.5rem;
        font-size: 1.5rem;
        border-radius: 5px;
        text-align: center;
        border: 1px solid gray;
    }
    .Contact_Section form button{
        font-size: 1.7rem;
    }
    
 }
@media (min-width:1024px){
    .Background_img{
        width: 100%;
    }
    .Tilt {
        font-size: 3rem;
    }
    #navbar ul li a{
        font-size: 1.5rem;
    }
    #about {
        width:50%;
    }
    #services #SerTxt p {
        font-size: 1.5rem;
        padding:2rem 6rem;
    }
    .Service_Img_conta{
        width:37vw;
    }

    
    #menu h1{
        font-size: 3rem;
    }
    #menu p{
        font-size: 1.5rem;
        padding :0 20rem;
        line-height: 2.5rem;
    }
    .menu_But_container{
        width:80%;
    }

    .menu_But{
        width: 20rem;
        font-size:3rem;
        word-spacing: 1rem;
        padding:2.5rem;
    }
    .menu_But span{
        font-size: 5rem;
        color:rgb(240, 41, 41);
    }

    .Log_Title_container h1{
        font-size: 3.5rem;
    }
    .Log_Title_container p{
        font-size: 1.7rem;
    }

    .log_input_container input{
        border-style: none;
        width: 25rem;
        font-size: 1.7rem;
    }
    .log_input_container button{
        border-radius: 0;
        padding: 0.8rem 1rem;
        font-size: 2.5rem;
    }

    .strik{
        padding: 4rem 3rem;
        border-width:5px;
        border-radius: 2rem;
    }

    .strike_all_contain{
        display:flex;
        justify-content:space-between;
    }
    .Strik_content{
        flex-direction: column-reverse;
        align-items: none;
        justify-content:space-between;
        border-bottom:0.5rem solid saddlebrown ;
        border:none;

    }
    
    .dilevery_gif_container{
        width:35vh;
    }
    .contact_img_container{
        width:37rem;
    }
    #footer{
        border-top: 0.4rem solid darkgray;

    }

      
}
@media (min-width:1254px){
      
}

